<!DOCTYPE html>
<html>
<head>
<title>Onur Koc - CV</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Onur Koc."/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="{{ url_for('static', filename='headshot_cropped.jpg') }}" alt="Onur Koc" />
		</div>

		<br>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Onur Koc</h1>
			<h2 class="quickFade delayThree">Senior Tunnel Engineer</h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>e: <a href="mailto:okoc@dr-sauer.com" target="_blank">okoc@dr-sauer.com</a></li>
				<li>w: <a href="http://www.dr-sauer.com">dr-sauer.com</a></li>
				<li>t: +43662879999</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
				</div>
				
				<div class="sectionContent">
					<p>
						Mr. Koc has more than twelve years of experience in providing design services, design services during construction, and structural engineering for tunnels constructed using the New Austrian Tunneling Method (NATM), cut-and-cover tunnels and TBM tunnels.
					</p> 
					<p>
						In his current position he is responsible for tunnel design, 2D and 3D finite element analyses (ZSoil, Plaxis, Abaqus), waterproofing systems, tunnel rehabilitation. Additional fields of his responsibility are providing design support services during construction, risk management and construction management services.
					</p> 
					<p>
						He has worked on highway, railway, transit and utility tunnel projects throughout Europe, North America and Africa.
					</p>	
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Senior Tunnel Engineer</h2>
					<p class="subDetails">October 2018 - Present <br>@ Dr. Sauer & Partners GmbH</p>
				</article>
				
				<article>
					<h2>Structural / Tunnel Enginner</h2>
					<p class="subDetails">March 2008 - October 2018 <br>@ IGT GmbH</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Recent Projects</h1>
			</div>
			
			<div class="sectionContent">
				<ol class="keySkills">
					<li>
						Eglinton Crosstown LRT, Toronto, Canada<br>
						<p class="subDetails">
							Role: Design of the false ceiling connections and reinforced concrete design<br>
							Eglinton Crosstown is a Light Railway project comprising 19 kilometres of electrified light rail transit (LRT) along Eglinton Avenue in the city of Toronto, Canada. It will connect 25 stations/stops, 15 of which are underground, (11 Cut and Cover, 4 mined) with a 10km of twin bored TBM running tunnels. Dr Sauer & Partners provide the detailed initial and final lining design as well as the design of the internal civil structures for the 4 mined stations.
						</p>
					</li>
					<li>
						Purple Line, Washington, DC, USA<br>
						<p class="subDetails">
							Role: Analysis and design of the cross passages for the Los Angeles Metro Purple Line Section III<br>
							This project consists of a 2.32-mile double track heavy rail transit line and the contract involves tunnels and thirteen Cross Passages. De-watering and ground improvement measures are needed for the individual Cross Passages and excavation and support concepts include NATM toolbox items, which will be used to counter unforeseen ground conditions.
						</p>
					</li>
					<li>
						Tunnel Arlberg, Road Tunnel in Austria<br>
						<p class="subDetails">
							Role: Structural analysis for refurbishment of the Road tunnel<br>
							The Arlberg Road Tunnel with a length of 13.976 kilometers is Austria's longest road tunnel. When it was inaugurated, it was the longest road tunnel in the world. It carries the S16 Arlberg Schnellstraße (German for "Arlberg Highway") under the Arlberg massif from Tyrol to Vorarlberg.
						</p>
					</li>
					<li>
						U-Bahn Vienna U5 – U3, Metro line in Vienna, Austria<br>
						<p class="subDetails">
							Role: Analysis and design of two new subway stations in the city center<br>
							The subway stations are planned at the heart of the city below high story shopping malls. A settlement analysis of the surface buildings was also conducted by Mr. Koc.
						</p>
					</li>
					<li>
						Koralmbahn Tunnelkette Granitztal BL 50.4, Railway Tunnel in Austria<br>
						<p class="subDetails">
							Role: Structural analysis and design of the Cut & Cover tunnel<br>
							The length of the whole project yields to approx. 6.5 km. The length of the cut & cover section of the tunnel adds up to 600 meters covering the high-speed tunnel and connecting two mined tunnels.
						</p>
					</li>
					<li>
						Semmering Base Tunnel, Railway Tunnel in Austria<br>
						<p class="subDetails">
							Role: 3D analysis of the TBM advancement through a fault zone<br>
							Around 27 kilometers in length and 14 years in making under challenging geological conditions: The Semmering Base Tunnel ranks amongst the most complex tunnel building projects in Europe. After completion two tubes will serve the high-speed train connecting Vienna to Graz.
						</p>
					</li>
					<li>
						Istanbul Strait Road Crossing Tunnel (NATM section), Turkey<br>
						<p class="subDetails">
							Role: Structural analysis of the intersections (design of the primary and final lining), design of various cut & cover sections<br>
							The Istanbul Strait Road Crossing Tunnel, also known as the Eurasia Tunnel, is a road tunnel in Istanbul, Turkey, crossing underneath the Bosphorus strait. The tunnel was officially opened on 20 December 2016 and opened to traffic on 22 December 2016.
							The 5.4 km (3.4 mi) double-deck tunnel connects Kumkapı on the European part and Koşuyolu, Kadıköy, on the Asian part of Istanbul with a 14.6 km (9.1 mi) route including the tunnel approach roads. It crosses the Bosphorus beneath the seabed at a maximum depth of −106 m.

						</p>
					</li>
				</ol>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Technical University of Vienna, Austria</h2>
					<p class="subDetails">Master’s degree</p>
					<p>Specialization: Tunneling, Geomechanics and Engineering Management</p>
				</article>
				
				<article>
					<h2>Technical University of Istanbul, Turkey</h2>
					<p class="subDetails">Bachelor’s degree</p>
					<p>Specialization: Structural Engineering, Reinforced Concrete</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>